.order-yard {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
}
/* .hide-yard {
    display: none;
} */

.overlay-order {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.207);

}
.order-yard-main {
    background-color: var(--white);
    position: relative;
    width: 500px;
    animation: grow 0.25s linear;
}
@keyframes grow {
    from {
        opacity: 0;
        transform: scale(0);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}
.order-yard-heading {
    padding: 5px 30px;
    font-size: 2.8rem;
    color: var(--white);
    font-family: 800;
    display: flex;
    background-color: var(--primary);
    justify-content: center;
    position: relative;
}
.order-yard-body {
    padding: 20px 30px;
}
.heading-icon-close {
    position: absolute;
    font-size: 2.5rem;
    cursor: pointer;
    right: 10px;
    top: 5px;
}

.row-order {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.order-time-yard,
.order-date-yard {
    margin-bottom: 20px;
}
.order-date-yard{
    display: flex;
}
.order-time-yard input,
.order-date-yard input {
    min-width: 200px;
    font-size: 1.8rem;
}
.order-yard-title {
    font-size: 1.8rem;
    min-width: 150px;
    display: flex;
    flex-wrap: wrap;
}
.order-yard-time-title {
    font-size: 1.8rem;
}
.input-info-user {
    padding: 8px 10px;
    width: 100%;
}
.row-item-value {
    font-size: 1.8rem;
}
.order-time-yard {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.btn-order-yard {
    padding: 10px 20px;
    background-color: rgb(48, 48, 255);
    color: var(--white);
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.25s linear;
}
.btn-order-yard:hover {
    background-color: var(--primary);
}

.yard-img{
    width: 150px;
}
.order-time-item{

    background-color: rgb(22, 239, 188);
    padding: 5px;
    margin: 5px;
    font-size: 16px;
    cursor: pointer;
}
.order-time-item:active{
    background-color: aquamarine;

}
.order-time-row{
    display: flex;
}